<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Bonjour Djamel</h1>
	<p>Tu a un nouveau message de la part de {{infosMail.Civilite}} {{infosMail.Nom}} {{infosMail.Prenom}}</p>

	<p>{{infosMail.Message}}</p>
	<p>Email: {{infosMail.Email}}</p>
	<p>Tel: {{infosMail.Tel}}</p>

</body>
</html>