{% extends 'base.html.twig' %}

{% block body %}
	{{parent()}}

	<div class="row" style="margin-bottom:80px;">
		<div style="position:relative;padding:0;" class="col l10 offset-l1 s12 m10 offset-m1">

			<div style=" z-index:9; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" class="center">
				<div class="divider white  "></div>
					<h3 style="margin-bottom: 29.200px;" class="white-text  "><b>RÉCAPITULATIF DE VOTRE RÉSERVATION</b></h3>
				<div class="divider white  "></div>
			</div>

			<div style="background: url({{asset('img/slide5.jpeg')}}) no-repeat center center; background-size: cover; height:400px; width:100%; filter: brightness(60%);"></div>
	    </div>
	</div>

	<div class="row">
		<div class="container">

			<form name="form" action="{{path('reservation_transport_email')}}" method="POST">
				<div class="card-panel col s12 l12">
				 	<h4>Transport sur mesure</h4>
					<div class="row">
				    	<div class="input-field col s12 l3">
							<i class="material-icons prefix">local_taxi</i>
				          	<input name="forfait" type="text" value="{{infosReservation.forfait}} H" readonly="true">
				          	<label for="forfait">Forfait</label>
				        </div>
					</div>
				</div>

				<div class="col s12 l12">
					<div class="input-field col s12 l3">
						<i class="material-icons prefix">today</i>
			          	<input name="date_prise_en_charge" type="text" value="{{infosReservation.date_prise_en_charge}}" readonly="true">
			          	<label for="date_prise_en_charge">Date</label>
			        </div>
					{# <h6 class="col l4">Date: {{infosReservation.date}}</h6> #}
					<div class="input-field col s12 l3">
						<i class="material-icons prefix">access_time</i>
			          	<input name="heure_prise_en_charge" type="text" value="{{infosReservation.heure_prise_en_charge}}" readonly="true">
			          	<label for="heure_prise_en_charge">Heure</label>
			        </div>
					{# <h6 class="col l4">Heure: {{infosReservation.heure}}</h6> #}
					<div class="input-field col s12 l3">
						<i class="material-icons prefix">airline_seat_recline_extra</i>
			          	<input name="nb_passagers" type="text" value="{{infosReservation.nb_passagers}}" readonly="true">
			          	<label for="nb_passagers">Nombre de passagers</label>
			        </div>
					{# <h6 class="col l4">Nombre de passagers: {{infosReservation.nb_passagers}}</h6> #}
					<div class="input-field col s12 l3">
						<i class="material-icons prefix">work</i>
			          	<input name="nb_bagages" type="text" value="{{infosReservation.nb_bagages}}" readonly="true">
			          	<label for="nb_bagages">Nombre de bagages</label>
			        </div>
				</div>

				<div class="card-panel col s12 l12">
					<h4>Adresses</h4>
					<div class="row">
						<div class="col s12 l12">
							<div class="input-field col s12 l6">
								<i class="material-icons prefix">room</i>
					          	<input name="adresse_depart" type="text" value="{{infosReservation.adresse_depart}}" readonly="true">
					          	<label for="adresse_depart">Départ</label>
					        </div>

					        <div class="input-field col s12 l6">
								<i class="material-icons prefix">room</i>
					          	<input name="adresse_arrivee" type="text" value="{{infosReservation.adresse_arrivee}}" readonly="true">
					          	<label for="adresse_arrivee">Arrivée</label>
					        </div>
			    		</div>
			    	</div>
			    </div>

			    <div class="card-panel col s12 l12">
					<h4>Coordonnées</h4>
					<div class="input-field col s12 l6 offset-l6 pull-l6">
						<i class="material-icons prefix">person</i>
			          	<input name="civilite" type="text" value="{{infosReservation.civilite}}" readonly="true">
			          	<label for="civilite">Civilité</label>
			        </div>

					<div class="input-field col s12 l6">
						<i class="material-icons prefix">person</i>
			          	<input name="nom" type="text" value="{{infosReservation.nom}}" readonly="true">
			          	<label for="nom">Nom</label>
			        </div>
			        <div class="input-field col s12 l6">
						<i class="material-icons prefix">person</i>
			          	<input name="prenom" type="text" value="{{infosReservation.prenom}}" readonly="true">
			          	<label for="prenom">Prénom</label>
			        </div>
			        <div class="input-field col s12 l6">
						<i class="material-icons prefix">email</i>
			          	<input name="email" type="text" value="{{infosReservation.email}}" readonly="true">
			          	<label for="email" >Email</label>
			        </div>
			        <div class="input-field col s12 l6">
						<i class="material-icons prefix">phone</i>
			          	<input name="tel" type="text" value="{{infosReservation.tel}}" readonly="true">
			          	<label for="tel">Téléphone</label>
			        </div>

			        <input name="duree" type="hidden" value="{{infosReservation.duree}}" readonly="true">
			    </div>

			    <div class="card-panel col s12 l12 center">
			    	<h5>Le prix pour cette course sera de: {{'%.2f'|format(prix)}} €</h5>
			    </div>

			    <div class="right">
				    <a href="{{path('reservation_transport')}}" class="bouton btn btn-primary">Modifier</a>
					<button name="envoi" type="submit" class="bouton btn btn-primary">Envoyer</button>
				</div>
			</form>
		</div>
	</div>

	
{% endblock %}





{% block javascripts %}
	{{parent()}}
	<script type="text/javascript">

		$(document).ready(function(){
			$('body').hide().fadeIn(1500).delay(1500);
			$('#envoi').click(function(){
				$.ajax({
		            url: "{{path('vtc_email')}}",
		            type:"POST",
		            dataType:"text",
		            data: {},
	
		            success: function (data) {

		            }
		        });
			});
				
			
		});

	</script>
{% endblock %}