{% extends "base.html.twig" %}

{% block body %}
	{{parent()}}
	
	<div class="row">
		<div style="position:relative;padding:0;" class="col l10 offset-l1 s12 m10 offset-m1">

			<div style="z-index:9; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" class="center">
				<div class="divider white  "></div>
					<h3 style="margin-bottom: 29.200px;" class="white-text  "><b>{{decouverte.nom | upper}}</b></h3>
				<div class="divider white  "></div>
			</div>

			<div style="background: url({{asset('img/decouverte/'~decouverte.image)}}) no-repeat center center; background-size: cover; height:300px; width:100%; filter: brightness(60%);"></div>
	    </div>
	</div>

	<div class="row" style="margin-top:100px;">
			<div class="container">

				<p class="center">
					{{decouverte.missions | length }} FORMULES VOUS SONT PROPOSÉES
				</p>

				{% for mission in decouverte.missions %}
					<div class="grid col l4">
						<figure class="effect-marley">
			                <img height="220px" src="{{asset('img/mission/'~mission.image)}}" alt="img11"/>
			                <figcaption>
			                    <h5>{{mission.nom}}</h5>
			                    <p></p>
			                    <a href="{{path('mission_show', {idAventure : decouverte.id, 'idMission':mission.id} )}}">View more</a>
			                </figcaption>           
			            </figure>
		        	</div>

				{% endfor %}

			</div>
		</div>

	
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script type="text/javascript">
		$(document).ready(function(){
			$('body').hide().fadeIn(1500).delay(1500);
		});
	</script>
{% endblock %}